h1 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

header li
{
    display: inline;
    padding-right: 45px;

}

header li a
{
    color: #333;
    text-decoration: none;
    padding: 13px;
    transition: .3s ease;
}
header li a:hover
{
color: royalblue;
}
img {
    background-position: center;
    height: 525px;
    border-radius: 2%;
    padding: 0%; 
    position: right;
    opacity: .9;
}
body {
    background-color: rgb(248, 234, 217);
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    text-align: center;
}
figcaption {
    top: -350px;
    left: 35%;
    color: black;
}

.social-icon {
    color: black;
    width: 40px;
    display: inline;
    padding-right: 45px;
    opacity: 80%;
    right: -9%;
    padding: 13px;
    position: ;
}
