h1 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

header li {
    color: #fff;
    opacity: 80%;
    display: inline;
    padding-right: 45px;
    background-color: ;

}

header li a {
    color: #fff;
    text-decoration: none;
    padding: 13px;
    transition: .3s ease;
}

header li a:hover {
color: royalblue;
}

img {
    background-position: center;
    height: 525px;
    border-radius: 2%;
    padding: 0%; 
    position: right;
    opacity: 90%;
}
body {
    background-color: rgb(34, 37, 35);
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    text-align: center;
}
figcaption {
    top: -350px;
    left: 35%;
    color: #fff;
    opacity: 80%;
}

.social-icon {
    color: #fff;
    width: 40px;
    display: inline;
    opacity: 100%;
    padding: 13px;
}
